<p class = "comment-header">
  <b><%= comment.commenter %></b>
</p>
 
<p class = "comment-body">
  <%= comment.body %>
</p>
 
<p>
  <%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
